RewriteEngine on


RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

AddType application/x-httpd-php5 .html .htm
AddHandler application/x-httpd-php .html

ErrorDocument 404 /not-found-page.html